* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    align-items: center;
}

.container {
    text-align: center;
    background-image: url(coins-grass.jpeg);
    background-size: cover;
    margin: 75px 75px 75px 300px;
    height: 550px;
    border-radius: 55px;
    width: 650px;
    height: 550px;
    box-shadow: 15px 15px 15px rgba(150, 150, 150, 0.2);
}

.welkam {
    color: #004225;
    float: left;
    text-align: left;
    margin-top: 115px;
    padding: 30px;
}

h1 {
    font-size: 45px;
}

.welkam p {
    font-size: 25px;
}

.welkam img {
    width: 180px;
}

form {
    float: right;
    background-color: white;
    height: 550px;
    width: 325px;
    border-radius: 54px;
}

h2 {
    color: #004225;
    font-size: 35px;
    margin-top: 60px;
} 

.input-email {
    margin-top: 45px;
}

.input-email input {
    padding: 13px;
    width: 215px;
}

.input-usn {
    margin-top: 20px;
}

.input-usn input {
    padding: 13px;
    width: 215px;
}

.input-pw {
    margin-top: 20px;
}

.input-pw input {
    padding: 13px;
    width: 215px;
}

.btn-dfr {
    margin-top: 20px;
}

.btn-dfr input {
    width: 215px;
    padding: 10px;
    border-radius: 5px;
    background-color: #004225;
    color: white;
    border: none;
}

.btn-dfr input:hover {
    background-color: #004f2d;
}

.bsa-bsi p {
    font-size: 15px;
    margin-top: 15px;
}

.bsa-bsi p a {
    text-decoration: none;
    color: #6E8F73;
}